# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# macOS specific
.DS_STORE

# Pipfile
Pipfile.lock

# Instance specific config
instance/

# Unit test / coverage reports
.tox/

# Log files
*.log

# Local development certificate files
*.pem

# Celery config
celeryconfig.py