[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
tox = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-admin = "*"
flask-security = "*"
flask-migrate = "*"
suds-py3 = "*"
lxml = "*"
mysqlclient = "==1.4.1"
mysql-python = "*"

[requires]
python_version = "3.7"
