[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
tox = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.7"
