/* basic settings */
body {
    font-family: 'Hind' !important;
}

.heading {
    font-family: 'Hind' !important;
    color: #4A4d4e;
    text-align: center;
}

.heading-underline {
    height: 0.2rem;
    width: 2em;
    background-image: linear-gradient(to right, transparent, red);
}

.index-heading-underline {
    height: 0.2rem;
    width: 3em;
    background-image: linear-gradient(to right, transparent, red);
    margin: 0 auto;
}

.bg-light-grey {
    background-color: #eeeeee;
}

.bg-dark-grey {
    background-color: #4A4D4E;
}

.bg-red {
    background-color: red;
}

.text-red {
    color: red;
}

.border-red {
    border: 2px solid red;
}

.btn-red {
    color: white !important;
    background-color: red !important;
}

.btn-red:hover {
    background-color: #4A4D4E !important;
}

.btn-call {
    color: white !important;
}

.btn-call:hover {
    color: red !important;
}

.sidebar-img {
    width: 100%;
    height: 10em;
}

/* LAYOUT */

/* contents above navbar on medium and large screens */
#content-above-navbar {
    height: 35px;
    font-size: regular;
}

#content-above-navbar h5 a {
    vertical-align: middle;
}

/* Navbar */
nav {
    font-family: 'Raleway' !important;
}

.nav-item:hover .nav-link {
    color: red !important;
}

/* INDEX */

/* Carousel */
.carousel-indicators li {
    background-color: #4A4D4E;
}

.carousel-indicators .active {
    background-color: red;
}

/* Services */
.service-desc {
    line-height: 1.6;
}

.service-img {
    width: 100%;
    height: 20rem;
}

/* Best plans */
.plan-card {
    transition: 0.3s;
}

.plan-card:hover {
    transform: scale(1.05);
}

#plan-color-bar {
    height: 0.2rem;
}

.plan-card img {
    height: 10rem;
}

/* Brochure section */
.download-cards {
    /* width: 18rem; */
    border: 1px solid red;
}

/* PLANS */

/* Plan category row */
.plan-button-row {
    position: sticky;
    top: 0;
}

/* Filter */
.dropdown-toggle::after {
    display:none !important;
}

/* Tariffs */
.plan-labels {
    font-family: 'Hind' !important;
    min-width: 70px;
}

@media (max-width: 34em) {
    .dropdown-menu {
        width: 15rem;
    }
}

@media (min-width: 48em) {
    .dropdown-menu {
        width: 20rem;
    }
}

.masonry {
    display: flex;
    flex-flow: row wrap;
}

.masonry-brick {
    min-height: 20rem;
    width: 16rem;
    border-radius: 25px 0px;
    border: 2px solid #4A4d4e;
    transition: 0.1s;
}

.masonry-brick:hover {
    border: 2px solid red;
}

.card-heading-underline {
    height:0.2rem;
    width:100%;
    background-image: linear-gradient(to right, transparent, red);
}

/* SUPPORT */
[data-toggle="collapse"] .fas:before {
    content: "\f078";
}

[aria-expanded="true"] .fas:before {
    content: "\f077";
}

[data-toggle="collapse"].collapsed .fas:before {
    content: "\f078";
}

/* LOCATE US */
.hq-card img {
    height: 15rem;
}

/* ABOUT US */

/* Ventures */
.venture-img {
    height: 15em;
}

.venture-desc {
    line-height: 1.6;
}

/* PAYMENT */

/* Payment */
.customer-details {
    background-color: #eeeeee;
}
