/* basic settings */
body {
    font-family: 'Hind' !important;
}

.heading {
    font-family: 'Hind' !important;
    color: #4A4d4e;
    text-align: center;
}

.heading-underline {
    height: 0.2rem;
    width: 2em;
    background-image: linear-gradient(to right, transparent, red);
}

.index-heading-underline {
    height: 0.2rem;
    width: 3em;
    background-image: linear-gradient(to right, transparent, red);
    margin: 0 auto;
}

/* LAYOUT */

/* contents above navbar on medium and large screens */
#content-above-navbar {
    background-color: #4A4d4e;
    height: 35px;
    font-size: regular;
}

#content-above-navbar div.p div.a {
    vertical-align: middle;
}

/* Navbar */
nav {
    font-family: 'Raleway' !important;
}

.fa-user {
    color: red;
}

/* INDEX */

/* Carousel */
.carousel-indicators li {
    background-color: #4A4D4E;
}

.carousel-indicators .active {
    background-color: red;
}

/* Recharge section */
#recharge {
    background-color: #4A4D4E;
}

#recharge-submit {
    background-color: red;
    vertical-align: top;
}

/* Services */
.service-odd {
    background-color: #fff;
}

.service-even {
    background-color: #eeeeee;
}

.service-name {
    color: red;
}

.service-desc {
    line-height: 1.6;
}

.service-img {
    width: 100%;
    height: 20rem;
}

/* Best plans */
.plan-card {
    transition: 0.3s;
}

.plan-card:hover {
    transform: scale(1.05);
}

#plan-color-bar {
    height: 0.2rem;
    background-color: red;
}

#plan-name {
    background-color: #eeeeee;
}

#plans-button {
    background-color:red;
}

.plan-card img {
    height: 10rem;
}

/* Brochure section */
#brochures {
    background-color: #eeeeee;
}

.download-cards img {
    height: 20rem;
}

#download-color-bar {
    height: 0.2rem;
    background-color: red;
}

.download-button {
    background-color: #4A4d4e;
}

/* PLANS */

/* Tariffs */
.plan-labels {
    font-family: 'Hind' !important;
    background-color: red;
    min-width: 70px;
}

.dropdown-toggle::after {
    display:none !important;
}

@media (max-width: 34em) {
    .dropdown-menu {
        width: 15rem;
    }
}

@media (min-width: 48em) {
    .dropdown-menu {
        width: 20rem;
    }
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 96em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.card-columns .card {
    /* width: 17rem; */
    min-height: 20rem;
    border-radius: 25px 0px;
    border: 2px solid #4A4d4e;
    transition: 0.1s;
}

.card-columns .card:hover {
    border: 2px solid red;
}

.all-plan-card-underline {
    height:0.2rem;
    width:100%;
    background-image: linear-gradient(to right, transparent, red);
}

/* LOCATE US */
.hq-card img {
    height: 15rem;
}

/* ABOUT US */

#about-us-card-background {
    background-color: #eeeeee;
}

.about-us-card-heading {
    color: red;
}

/* Ventures */
.venture-odd {
    background-color: #fff;
}

.venture-even {
    background-color: #eeeeee;
}

.venture-img {
    height: 15em;
}

.venture-name {
    color: red;
}

.venture-desc {
    line-height: 1.6;
}

/* PAYMENT */

/* Payment */
.customer-details {
    background-color: #eeeeee;
}
