/* basic settings */
body {
    font-family: 'Hind' !important;
}

.heading {
    font-family: 'Hind' !important;
    color: #4A4d4e;
}

/* contents above navbar on medium and large screens */
#content-above-navbar {
    background-color: #4A4d4e;
    height: 35px;
    font-size: regular;
}

#content-above-navbar div.p div.a {
    vertical-align: middle;
}

/* Navbar */
nav {
    font-family: 'Raleway' !important;
}

.fa-user {
    color: red;
}

/* Carousel */
.carousel-indicators li {
    background-color: #4A4D4E;
}

.carousel-indicators .active {
    background-color: red;
}

/* Recharge section */
#recharge {
    background-color: #4A4D4E;
}

#recharge-submit {
    background-color: red;
}

.btn {
    vertical-align: top;
}

/* Services */
.service-odd {
    background-color: #fff;
}

.service-even {
    background-color: #eeeeee;
}

.service-name {
    color: red;
}

.service-desc {
    line-height: 1.6;
}

.service-img {
    width: 25em;
}

/* Best plans */
.plan-card {
    transition: 0.3s;
}

.plan-card:hover {
    transform:scale(1.05);
}

#plan-color-bar {
    height: 0.2rem;
    background-color: red;
}

#plan-name {
    background-color: #eeeeee;
}

#plans-button {
    background-color:red;
}

.card img {
    height: 10rem;
}

/* Brochure section */
#brochures {
    background-color: #eeeeee;
}

#download-color-bar {
    height: 0.2rem;
    background-color: red;
}

.download-button {
    background-color: #4A4d4e;
}

/* Ventures */
.venture-odd {
    background-color: #fff;
}

.venture-even {
    background-color: #eeeeee;
}

.venture-img {
    height: 15em;
}

.venture-name {
    color: red;
}

.venture-desc {
    line-height: 1.6;
}

/* Footer */
.footer-img {
    height: 5em;
}

/* Tariffs */
.cards {
    display: none;

    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(md) {
        column-count: 4;
    }
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
}

/* Payment */
.customer-details {
    background-color: #eeeeee;
}
