<!-- render field inline -->
{% macro render_field_inline(field) %}

    {{ field.label(class_='sr-only') }}
    {{ field(class_='form-control mb-2 mr-sm-2', **kwargs) |safe }}

{% endmacro %}

<!-- render submit inline -->
{% macro render_submit_inline(field) %}

    {{ field(class_='btn btn-red mb-2', **kwargs) |safe }}

{% endmacro %}

<!-- render field -->
{% macro render_field(field) %}

<div class="form-group">
  {{ field.label(class_='form-control-label')  }}

  <!-- display error if invalid -->
  {% if field.errors %}
    {{ field(class_='form-control is-invalid') }}
    <div class="invalid-feedback">
      {% for error in field.errors %}
        <span>{{ error }}</span>
      {% endfor %}
    </div>
  {% else %}
    {{ field(class_='form-control', **kwargs)  |safe}}
  {% endif %}

</div> <!-- form-group -->

{% endmacro %}

<!-- render submit -->
{% macro render_submit(field) %}
  <div class="form-group">
    {{ field(class_='btn btn-red', **kwargs) |safe }}
  </div>
{% endmacro %}
