{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="container text-justify">
  <p>Established in 2009, Wishnet in the flagship company of the group comprising Wishnet Private Limited, Wishtrip Private Limited and Wishnet Infotech Private Limited. Guided by a team of professionals, who have vast experience in the areas of Digital Technology, Wishnet management has the primary objective of providing quality and value for all stake holders including customers and business partners. Wishnet management provides opportunity for the young minds to flourish and contribute to the organizational goals. Ethics and values are never compromised, while efforts never go unnoticed.

Wishnet today is present in Kolkata and across many cities and towns in Bengal. Our team of professionals and business partners efficiently manages the intricacies of the vast network thus ensuring an uninterrupted and quality internet service for the customers. Internet is quickly turning to be a basic requirement and we at Wishnet promise to ensure it is made available to all.</p>
</div>

<div class="container text-justify">
  <div class="row">

    <div class="col-md-4">
      <h3>OUR VISION</h3>
      <p>An organization that adds value to the entire eco-system including the customers, business partners, employees and the society.</p>
    </div>

  </div>

</div> <!-- container -->

<div class="container text-justify" style="background-color: #eeeeee">
  <h2>Our Mission</h2>
  <p>Internet is a Global product that is transforming at the fastest pace. It is important to have the capability to harness this speed of change while constantly upgrading technology and infrastructure. It is important to bring to our customers the virtues of this global product at affordable rates without compromising on the experience and security aspects.</p>
</div> <!-- container -->

<div class="container text-justify">
  <h2>Our Values</h2>
  <p>Achieving the steepest organizational goals without deviating from the path of discipline and integrity.</p>
</div> <!-- container -->

{% endblock %}
