{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="container text-justify">
  <!-- HEADING -->
  <h2 class="py-3">About Us
    <div class="heading-underline"></div>
  </h2>

  <!-- CONTENT -->
  <p>Established in 2009, Wishnet in the flagship company of the group comprising Wish Net Private Limited, Wishtrip Private Limited and Wishnet Infotech Private Limited. Guided by a team of professionals, who have vast experience in the areas of Digital Technology, Wishnet management has the primary objective of providing quality and value for all stake holders including customers and business partners. Wishnet management provides opportunity for the young minds to flourish and contribute to the organizational goals. Ethics and values are never compromised, while efforts never go unnoticed.</br></br>

Wish Net today is present in Kolkata and across many cities and towns in Bengal. Our team of professionals and business partners efficiently manages the intricacies of the vast network thus ensuring an uninterrupted and quality internet service for the customers. Internet is quickly turning to be a basic requirement and we at Wishnet promise to ensure it is made available to all.</p>
</div>

<div class="container p-3" id="about-us-card-background">
  <div class="card-deck">

    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title text-center about-us-card-heading">OUR VISION</h4>
        <p class="card-text text-justify py-1">An organization that adds value to the entire eco-system including the customers, business partners, employees and the society.</p>
      </div>
    </div>

    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title text-center about-us-card-heading">OUR MISSION</h4>
        <p class="card-text text-justify py-1">It is important to bring to our customers the virtues of internet at affordable rates without compromising on the experience and security aspects.</p>
      </div>
    </div>

    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title text-center about-us-card-heading">OUR VALUES</h4>
        <p class="card-text text-justify py-1">Achieving the steepest organizational goals without deviating from the path of discipline and integrity.</p>
      </div>
    </div>

  </div> <!-- card-deck -->

</div> <!-- container -->

 <!-- OTHER VENTURES -->
<div class="container border-top">
  <h2 class="py-3">Our Other Ventures
    <div class="heading-underline"></div>
  </h2>

  <div class="row text-center border-top">
    {% for venture in ventures %}
    <div class="col-sm-6 {{ loop.cycle('venture-even', 'venture-odd')}}">
      <img src="{{ url_for('static', filename='img/{}.svg'.format(venture.pic)) }}"
           class="venture-img">
      <h1 class="venture-name" align="center">{{ venture.name }}</h1>
      <p class="venture-desc text-justify p-3" align="center">{{ venture.description |safe }}</p>
    </div> <!-- col -->
    {% endfor %}
  </div> <!-- row -->
</div> <!-- container -->

{% endblock %}
