{% extends "layout.html" %}

{% block title %}Careers{% endblock %}

{% block content %}

<div class="container">
  <h2>Current openings</h2>

  <div id="accordion">
    {% for item in items %}
    <div class="card">
      <div class="card-header" id="header_{{ item.id }}">
        <h5>Job Title: {{ item.job_title }}</h5>
        <p>Salary: {{ item.salary }}</p>
        <p>Experience: {{ item.experience }}</p>
        <p>Required: {{ item.required }}</p>
        <p>Opening: {{ item.opening }}</p>

        <button class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse_{{ item.id }}"
                aria-expanded="false"
                aria-controls="collapse_{{ item.id }}">+</button>
      </div>

      <div id="collapse_{{ item.id }}"
           class="collapse"
           aria-labelledby="header_{{ item.id }}"
           data-parent="#accordion">
        <div class="card-body">
          <h5>Job Description</h5>
          <p>{{ item.description }}</p>
          <h5>Education: {{ item.education }}</h5>
          <p>{{ item.education_requirements }}</p>
          <hr>
          <p>To apply for the job, send your CV/Resume to {{ item.dept_email }} mentioning {{ item.job_title }} in the subject.</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <h3>Why work for WishNet ?</h3>
  <p>We at Wishnet believe in providing equal opportunity for all. We are proud of our organization and offer:</p>
    <ul>
      <li>A stepping stone for the future</li>
      <li>Opportunity to build yourself for the digital world</li>
      <li>To be part of a young and agile workforce</li>
      <li>A transparent evaluation system for growth, where every challenge is rewarding</li>
    </ul>
   <p>If you have the fire within, we will provide you the opportunity to learn, perform and shine.</p>
</div>

{% endblock %}
