{% extends "layout.html" %}

{% block title %}Careers{% endblock %}

{% block content %}

<div class="container p-3">
  <h2 class="py-3">Career
    <div class="heading-underline"></div>
  </h2>

  <div class="row border-top">

    <div class="col-md-4 pt-2 bg-light-grey">
      <img class="sidebar-img p-1" src="{{ url_for('static', filename='img/etc/career.svg') }}">
      <h3>Why work for Wishnet?</h3>
      <p class="text-justify">We at Wishnet believe in providing equal opportunity for all. We are proud of our organization and offer:</p>
      <ul>
        <li>A stepping stone for the future</li>
        <li>Opportunity to build yourself for the digital world</li>
        <li>To be part of a young and agile workforce</li>
        <li>A transparent evaluation system for growth, where every challenge is rewarding</li>
      </ul>
      <p>If you have the fire within, we will provide you the opportunity to learn, perform and shine.</p>
    </div> <!-- col -->

    <div class="col-md-8 pt-2 grey-background">
      <h3 class="py-2 text-red">Current openings</h3>

      <div id="accordion">
        {% for item in items %}
        <div class="card">
          <div class="card-header bg-light-grey" id="header_{{ item.id }}">
            <div class="d-flex align-items-center">
              <div class="mr-auto text-red">{{ item.job_title }}</div>

              <button class="btn btn-link"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse_{{ item.id }}"
                      aria-expanded="false"
                      aria-controls="collapse_{{ item.id }}">
                <i class="fas"></i>
              </button>
            </div> <!-- flex -->

            <div class="d-flex justify-content-between">
              <div>Salary: {{ item.salary_range }}</div>
              <div>Qualification: {{ item.education }}</div>
              <div>Experience: {{ item.experience }}</div>
            </div> <!-- flex -->
          </div> <!--card -->

          <div id="collapse_{{ item.id }}"
               class="collapse"
               aria-labelledby="header_{{ item.id }}"
               data-parent="#accordion">
            <div class="card-body">
              <!-- Company -->
              <h5 class="text-dark-grey">Company</h5>
              <p>{{ item.company }}</p>
              <!-- Job Location -->
              <h5 class="text-dark-grey">Job Location</h5>
              <p>{{ item.location }}</p>
              <!-- Job Type -->
              <h5 class="text-dark-grey">Job Type</h5>
              <p>{{ item.job_type }}</p>
              <!-- Job Description -->
              <h5 class="text-dark-grey">Job Description</h5>
              <p>{{ item.job_description |safe }}</p>
              <!-- Job Summary -->
              <h5 class="text-dark-grey">Job Summary</h5>
              <p>{{ item.job_summary }}</p>
              <!-- Key Skills -->
              <h5 class="text-dark-grey">Key Skills</h5>
              <p>{{ item.key_skills }}</p>
              <!-- Preferable -->
              <h5 class="text-dark-grey">Preferred Qualification</h5>
              <p>{{ item.preferable }}</p>
              <!-- Gender -->
              <h5 class="text-dark-grey">Gender</h5>
              <p>{{ item.gender }}</p>
              <hr>
              <p>To apply for the job, send your CV/Resume to <a href="mailto:{{ item.dept_email }}?subject={{ item.job_title }}">{{ item.dept_email }}</a> mentioning <strong>{{ item.job_title }}</strong> in the subject.</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div> <!-- col -->


  </div> <!-- row -->
</div> <!-- container -->
{% endblock %}
