{% extends "self_care_layout.html" %}
{% from "_macros.html" import render_field, render_submit %}

{% block title %}Self-care update profile{% endblock %}

{% block portal_content %}

<div class="col-sm-8 p-3">

  <h3 class="py-2 text-red">Update Profile</h3>

  <h4 class="py-2">Change Password</h4>

  <div class="content-section">

    <form method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">

        <!-- OLD PASSWORD -->
        <div class="form-row">
          {{ render_field(form.old_password) }}
        </div>

        <!-- NEW PASSWORD -->
        <div class="form-row">
          {{ render_field(form.new_password) }}
        </div>

        <!-- PASSWORD CONFIRM -->
        <div class="form-row">
          {{ render_field(form.confirm) }}
        </div>

      </fieldset> <!-- fieldset -->

      <!-- SUBMIT -->
      {{ render_submit(form.submit) }}

    </form>

  </div> <!-- content-section -->

</div> <!-- col -->

{% endblock %}
