{% extends "layout.html" %}
{% from "_macros.html" import render_field_with_errors_user_side, render_submit_button %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="container p-3">

  <h2 class="pb-3">Headquarters
    <div class="heading-underline"></div>
  </h2>

  <div class="card-deck">
    <!-- address -->
    <div class="card hq-card m-1">
      <img class="card-img-top pt-1"
           src="{{ url_for('static', filename='img/logo/wishnet.svg') }}">
      <div class="card-body text-center">
        <h4 class="text-red">Wish Net Private Limited</h4>
        <p class="card-text">86, Golaghata Road, Saraswati Apartment, 6th Floor</br>
          Kolkata - 700048, West Bengal, India</br>Phone: 033 2534 0326</br>E-mail: info@wishnet.co.in</p>
      </div>
    </div> <!-- card -->
    <!-- map -->
    <div class="card hq-card m-1">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d651.1738392023512!2d88.39648879284367!3d22.5942273165435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x832c7c68a84f0c2f!2sWish+Net+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1516439379270" width="100%" height="100%" frameborder="0" class="embed-responsive-item"></iframe>
    </div> <!-- card -->

  </div> <!-- card-deck -->

</div> <!-- container -->

<div class="container p-3">

  <h2 class="pb-3">Regional Offices
    <div class="heading-underline"></div>
  </h2>

  <div class="card-deck justify-content-center">
    {% for office in regional_offices %}
    <div class="card shadow regional-office-card m-1">
        <div class="d-flex pt-3 pb-1 w-100 bg-light-grey justify-content-center">
          <h3 class="card-title text-red">{{ office.place }}</h3>
        </div>
      <div class="card-body">


        <p class="card-text">{{ office.address|safe }}</p>
      </div>
    </div> <!-- card -->
    {% endfor %}
  </div> <!-- card-deck -->

</div> <!-- container -->
{% endblock %}
