{% extends "layout.html" %}
{% from "_macros.html" import render_field_with_errors_user_side, render_submit_button %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="container">

  <h2>Location map</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d651.1738392023512!2d88.39648879284367!3d22.5942273165435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x832c7c68a84f0c2f!2sWish+Net+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1516439379270" width="100%" height="350" frameborder="0" style="border:0"></iframe>

  <div class="row">

    <div class="col-md-4">
      <h4>Wish Net Private Limited</h4>
      <p>86, Golaghata Road, Saraswati Apartment, 6th Floor</p>
      <p>Kolkata - 700 048, West Bengal, India</p>
    </div>

  </div>

</div> <!-- container -->

<div class="container">

  <h2>Our regional offices</h2>
  <div class="row">

    <div class="col-md-4">
      <h3>Durgapur branch</h3>
      <p>39, Uday Sankar Bithi, City Center Durgapur, Burdwan - 713216</p>
      <p>durgapurro@wishnet.co.in</p>
    </div>

    <div class="col-md-4">
      <h3>Malda branch</h3>
      <p>Near Shanti Bharati Parisad, English Bazar, Malda</p>
      <p>maldaro@wishnet.co.in</p>
    </div>

    <div class="col-md-4">
      <h3>Siliguri branch</h3>
      <p>2nd Mile, 2nd Floor Sevok Road, Opp. All India Radio, Siliguri - 734401, Darjeeling</p>
    </div>

  </div>

</div> <!-- container -->
{% endblock %}
