{% extends "layout.html" %}

{% block title %}Downloads{% endblock %}

{% block content %}

<div class="container">
  <h2>Pay Online with Android APK</h2>

  <p>Wish Net APK Recharge there are uncountable prepaid mobile users who like to make daily recharges just according to their budget. Wish Net APK Recharge has brought the solution of a faster recharging process and you can make the same just using your Smartphone through the respective the app.</p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img class="card-img-top" src="..." alt="Broadband e-brochure">
        <div class="card-body">
          <h5 class="card-title">Broadband e-brochure</h5>
          <a href="#" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm">
        <img class="card-img-top" src="..." alt="Corporate e-brochure">
        <div class="card-body">
          <h5 class="card-title">Corporate e-brochure</h5>
          <a href="#" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
