{% extends "layout.html" %}

{% block title %}End User License Agreement for Wishtalk{% endblock %}

{% block content %}

<div class="container text-justify p-3">
  <!-- HEADING -->
  <h2 class="py-3">End User License Agreement for Wishtalk
    <div class="heading-underline"></div>
  </h2>

  <!-- CONTENT -->
  <p>This End User License Agreement is a legal agreement between the end user (referred to as “you” or "Customer") and WISHNET (Wish Net Private Limited). The customer who is under the Wishnet Master Service Agreement, can avail the certain rights to access and use the WISHTALK (the VoIP telephony brand name of Wish Net Pvt. Ltd.) in Android and iOS Softphone application, technology, service, associated media, supporting documentation and updates (collectively, "the Software").</p>

  <p><strong>CAREFULLY READ THE TERMS AND CONDITIONS OF THIS AGREEMENT BEFORE ACCEPTING. BY CHOOSING TO ACCEPT THE TERMS IN THIS AGREEMENT, YOU REPRESENT THAT YOU ARE OF LEGAL AGE AND HAVE THE CAPACITY AND AUTHORITY TO ENTER INTO THIS AGREEMENT AND THAT YOU UNDERSTAND YOU ARE BOUND BY THE TERMS OF THIS AGREEMENT. THIS AGREEMENT FORMS PART OF THE WISHNET MASTER SERVICE AGREEMENT.</strong></p>

  <p><strong>EACH TIME YOU USE THE SOFTWARE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT. THESE TERMS AND CONDITIONS MAY BE UPDATED FROM TIME TO TIME. YOU ARE ADVISED TO CHECK FOR UPDATES AT WWW.WISHNET.IN.</strong></p>

  <p><strong>IF YOU DO NOT ACCEPT THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU ARE PROHIBITED FROM INSTALLING AND USING THE SOFTWARE.</strong></p>

  <ol>
    <li>
      <strong>USAGE</strong>
      <p style="color: red;">License to use (dial and receive calls) this software shall be available to WISHNET customers only.</p>
    </li>
    <li>
      <strong>SOFTWARE</strong>
      <ol type="a">
        <li>
          <strong>Software license</strong>
          <ol type="i">
            <li>At the time of subscription, Customer shall receive or shall be entitled to download the Software.</li>
            <li>Subject to the terms and conditions of the Agreement, WISHNET grants to Customer a non-exclusive, non-transferable, revocable, limited license to use the Software.</li>
            <li>Customer shall have no right to transfer, assign or sublicense the Software.</li>
          </ol>
          </br>
        </li>
        <li>
          <strong>Restrictions on altering the Software or the code in any way</strong>
          <p>Except as otherwise specified in this Schedule , the Customer may not: (i) copy the Software, other than one copy which is permitted as a backup; (ii) Modify or create any derivative works of any Software, service or documentation, including translation or localization (code written to published application programming interfaces or APIs); (iii) Sublicense or permit simultaneous use of the Software by more than one user; (iv) Reverse engineer, decompile, or disassemble or otherwise attempt to derive the source code for any Software ;(v) Redistribute, encumber, sell, rent, lease, sublicense, or use the Software in a timesharing or service bureau arrangement, or otherwise transfer the Software or any rights to the Software; (vi) Remove or alter any trademark, logo, copyright or other proprietary notices, legends, symbols or labels in the Software; or (vii) Publish any results of benchmark tests run on any Software to a third party without WISHNET’s prior written consent.</p>
        </li>
        <li>
          <strong>Ownership of Software</strong>
          <p>All right, title and interest in the copyright, patents and intellectual property rights in the Software or any part thereof remain with <span style="color: red;">WISHNET</span>.</p>
        </li>
      </ol>
    </li>
    <li>
      <strong>USE OF THE SERVICE</strong>
      <p>
        <ol type="a">
          <li>
            <strong>System Requirements</strong>
            <p>The Customer is responsible for ensuring that Customer's system (computer or device) and Internet connection meets the <span style="color: red;">minimum system requirements</span> to run the Software as set out by WISHNET. If the Customer's system or Internet connection does not meet these requirements, WISHNET is not responsible for any connection difficulties or delays, deficiencies, interruptions or related damages the Customer may have as a result.</p>
          </li>
          <li>
            <strong>Installation</strong>
            <p>The Customer is responsible for the download and installation of the Software.</p>
          </li>
          <li>
            <strong>Third Party Software and Downloads</strong>
            <ol type="i">
              <li>WISHNET is not responsible for third party software downloads or hardware installed by the Customer which may alter the Software connection, the Customer's system configuration or which may prevent or alter internet connection, speed, or service or have any other impact on the Software.</li>
              <li>WISHNET is not responsible for any spyware, malware or virus the Customer contracts on its system from using the internet or the World Wide Web.</li>
              <li>WISHNET assumes no responsibility whatsoever for any internet or email or other connection software the Customer may run on its system. WISHNET assumes no responsibility for any damages that may result from the use of such software.</li>
            </ol>
          </li>
        </ol>
      </p>
    </li>
    <li>
      <strong>SUPPORT</strong>
      <p>
        <ol type="a">
          <li>With respect to the Software, WISHNET will offer technical assistance and support as per the guidelines set forth in the Wishnet Master Service Agreement and associated IPBX Schedule, unless otherwise stated.</li>
          <li>WISHNET will not provide support for third party services, hardware, software, PC/phone device repair services, enhancements, upgrades or modifications that are not purchased, rented or licensed from WISHNET.</li>
          <li>WISHNET will not in any event be held responsible to correct or fix any problems or errors relating to or caused by the installation, configuration or modification of the Customer's equipment or system or any components thereof or to incur any costs related thereto.</li>
        </ol>
      </p>
    </li>
    <li>
      <strong>ORDER OF PREFERENCE</strong>
      <p>This agreement forms part of the Wishnet Master Service Agreement. In the event of conflict between this Agreement and the Wishnet Master Services Agreement, the terms and conditions of this agreement shall prevail to the extent of the conflict.</p>
    </li>
  </ol>

  <p>Revision: November 20, 2019</p>
</div> <!-- container -->

{% endblock %}
