{% extends "layout.html" %}
{% from "_macros.html" import render_field, render_submit %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class="container p-3">

  <h2 class="pb-3">Self-Care
    <div class="heading-underline"></div>
  </h2>

  <div class="row border-top">

    <div class="col-md-4 bg-light-grey p-3">
      <img class="sidebar-img p-1" src="{{ url_for('static', filename='img/etc/forgot_password.svg') }}">
      <h5 class="text-justify">
        Be independent, do it yourself</br>For any queries, please contact us at <strong><a href="tel:18004194244" class="text-red">1800-419-4244</a></strong>
      </h5>
    </div> <!-- col -->

    <div class="col-md-4 p-3">
      <h3 class="py-2 text-red">Forgot password?</h3>

      <div class="content-section">

        <form method="POST">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">

            <!-- CUSTOMER NUMBER -->
            <div class="form-row">
              {{ render_field(form.customer_no) }}
            </div>

          </fieldset> <!-- fieldset -->

          <!-- SUBMIT -->
          {{ render_submit(form.submit) }}

        </form>
      </div> <!-- content-section -->

      <div class="p-2">
        The OTP will be sent to your registered mobile number.
      </div> <!-- info -->

    </div> <!-- col -->

    <div class="col-md-4 bg-light-grey pt-4">

      <!-- LIST GROUP -->
      <div class="list-group">
        <a class="list-group-item list-group-item-action outline" href="{{ url_for('get_cust_no') }}">Know your Customer ID</a>
        <a class="list-group-item list-group-item-action" href="{{ url_for('update_mobile_number') }}">Update Mobile Number</a>
        <a class="list-group-item list-group-item-action outline" href="{{ url_for('login') }}">Self-care Login</a>
        <a class="list-group-item list-group-item-action outline" href="{{ url_for('register') }}">Self-care Registration</a>
      </div> <!-- list-group -->

      <!-- DESCRIPTION -->
      <h5 class="description text-red text-center p-3">Only our existing broadband customers can avail self-care facility</h5>

    </div> <!-- col -->

  </div> <!-- row -->

</div> <!-- container -->

{% endblock %}
