{% extends "layout.html" %}

{% block title %}Wishnet{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-md-4 shadow p-3 mb-5 rounded" style="background-color: #0090ff">
      <h2>High Speed Broadband</h2>
      <ul>
        <li>Highly Advanced Infrastructure</li>
        <li>Underground OFC Backbone</li>
        <li>Value Added Services</li>
        <li>Managed Services</li>
        <li>Advanced Data Center</li>
        <li>Assured QoS</li>
        <li>24 x 7 Professional Support</li>
        <li>Customized SLA</li>
        <li>Transparent Relationship</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Corporate and Business services</h2>
      <ul>
        <li>Focus on Delivering</li>
        <li>Speed & Reliability</li>
        <li>Highly Advanced Infrastructure</li>
        <li>Underground OFC Backbone</li>
        <li>100% Non Blocking Throughout</li>
        <li>Customized SLA</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Network Services</h2>
      <ul>
        <li>Network Turnkey Projects</li>
        <li>OFC Connectivity</li>
        <li>WAN</li>
        <li>MAN</li>
        <li>LAN</li>
        <li>VPN</li>
        <li>IP Triple Play Services</li>
        <li>Wireless Solutions</li>
        <li>Total Enterprise</li>
        <li>Structure Cabling</li>
      </ul>
    </div>

  </div>

</div> <!-- container -->

<div class="container">
  <h2>Our Mission</h2>
  <p>Technology is vast , which is always expanding and changing. For all it challenges, it's also a place of virtually unlimited opportunities. To find and exploit this opportunities it requires proven expertise and the right tools. Wish Net Private Limited is a leading service provider focused and deployed in offering solutions with comprehensive suite of next generation system & network solutions, training solutions & lots of similar comprehensive solutions.
    <br><br>
    We combine our expertise with unmatched seamless solution. It has enabled a multitude of companies to take advantage of technology in an effective, reliable and cost-efficient manner. We provide total solution and customize communication services to enable the key business processes to our customers.
    <br><br>
    At Wishnet, it means achieving real business results that allow you to transform, and not just maintain, your operations. Our IT services, business solutions, and outsourcing bring you a level of certainty that no other competitor can match. You'll experience requirements that are met on-time, within budget, and with high quality.It begins greater efficiency and responsiveness to your business which has the ability to shift investment to strategic initiatives rather than tactical functions.</p>

  <h2>A Practical Approach</h2>
  <p>We understand that the solution which we will provide,must actually differentiate from others. The difference also comes from our uniquely rigorous methodology.</p>

  <h2>Making the difference</h2>
  <p>In various way differentiate . We work according to a four-step system. A diligent and meticulous analysis of the client's problem/project, animates the development process, which then leads on to a comprehensive and effective solution.</p>
  <ul>
    <li>
      <strong>Deep Dive : </strong>Performing an in-depth analysis of the existing technology infrastructure and e-business readiness of the organization.
    </li>
    <li>
      <strong>Conceive : </strong>Design solution architecture, system architecture and user interface of application.
    </li>
    <li>
      <strong>Create : </strong>Build or customize packaged application.
    </li>
    <li>
      <strong>Nurture : </strong>Extend and support the solution.
    </li>
  </ul>

</div>  <!-- container -->

{% endblock %}
