{% extends "layout.html" %}
{% from "_macros.html" import render_inline_field_with_errors, render_submit_button_inline %}

{% block title %}Wishnet{% endblock %}

{% block content %}

<!-- CAROUSEL -->
<div id="carouselDiv" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselDiv" data-slide-to="0" class="active"></li>
    <li data-target="#carouselDiv" data-slide-to="1"></li>
    <li data-target="#carouselDiv" data-slide-to="2"></li>
    <li data-target="#carouselDiv" data-slide-to="3"></li>
    <li data-target="#carouselDiv" data-slide-to="4"></li>
  </ol>

  <!-- Images -->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='img/banner_1.jpg') }}"
           class="d-block w-100" alt="Banner 1">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/banner_2.jpg') }}"
           class="d-block w-100" alt="Banner 2">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/banner_3.jpg') }}"
           class="d-block w-100" alt="Banner 3">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/banner_4.jpg') }}"
           class="d-block w-100" alt="Banner 4">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/banner_5.jpg') }}"
           class="d-block w-100" alt="Banner 5">
    </div>
  </div>

</div> <!-- carousel -->

<!-- RECHARGE FACILITY -->
<div class="container-fluid" id="recharge">

  <h3 class="d-flex p-3 justify-content-center text-white">Quick recharge</h3>

  <form class="form-inline justify-content-center pb-3"
        method="POST"
        action="{{ url_for('index') }}">
    {{ form.hidden_tag() }}
    {{ render_inline_field_with_errors(form.user_id) }}
    {{ render_submit_button_inline(form.submit)}}
  </form>

</div> <!-- container -->

<!-- SERVICES -->
{% for service in services %}
  <div class="container-fluid {{ loop.cycle('service-odd', 'service-even') }}">

    <div class="d-flex flex-wrap justify-content-around {{ loop.cycle('flex-row', 'flex-row-reverse') }} service">
      <!-- service features -->
      <div class="d-flex flex-column p-3 justify-content-center">
        <h1 class="service-name">{{ service.name }}</h1>
        <h5 class="service-desc">{{ service.features | safe}}</h5>
      </div>
      <!-- service img -->
      <div>
        <img src="{{ url_for('static', filename='img/{}.svg'.format(service.logo_id)) }}"
             class="img-fluid service-img">
      </div>
    </div>

  </div> <!-- container -->
{% endfor %}

<!-- BEST PLANS -->
<div class="container-fluid">
  <h3 class="d-flex p-3 justify-content-center">Best plans</h3>

  <div class="card-deck p-1">

    {% for plan in plans %}
    <div class="card shadow plan-card">
      <!-- Color bar at top -->
      <div class="d-flex w-100" id="plan-color-bar"></div>
      <!-- Plan name -->
      <div class="d-flex pt-3 pb-1 w-100 justify-content-center" id="plan-name">
        <h3>{{ plan.name }}</h3>
      </div>
      <!-- Plan img -->
      <img src="{{ url_for('static', filename='img/{}.svg'.format(plan.logo_id)) }}">
      <!-- Package speed -->
      <div class="d-flex p-2 justify-content-center">
        <h5>{{ plan.speed }} Mbps speed</h5>
      </div>
      <!-- Package price -->
      <div class="d-flex p-2 justify-content-center">
        <h5>&#8377 {{ plan.price }} / month</h5>
      </div>
      <!-- Package validity -->
      <div class="d-flex p-2 justify-content-center">
        <h5>{{ plan.validity }} days validity</h5>
      </div>
    </div>
    {% endfor %}

  </div> <!-- card-deck -->

  <!-- View all plans -->
  <div class="d-flex pt-5 pb-4 justify-content-center">
    <button type="button" class="btn btn-dark">Check all our plans</button>
  </div>

</div> <!-- container -->

<!-- BROCHURES -->
<div class="container-fluid" id="brochures">
  <h3 class="d-flex p-3 justify-content-center">Downloads</h3>

  <div class="d-flex justify-content-center">

    <div class="card-deck pt-3 pb-5">

      {% for download in downloads %}
        <div class="card shadow">
          <img class="card-img-top"
               src="{{ url_for('static', filename='img/{}.svg'.format(download.img)) }}"
               alt="{{ download.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ download.name }}</h5>
          </div>
          <div class="card-footer d-flex justify-content-center">
            <a href="{{ download.link }}"
               class="btn btn-primary"
               download="{{ download.name }}">Download</a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div> <!-- flex -->

</div> <!-- container -->

<!-- Other ventures -->
<div class="container-fluid">
  <h3 class="d-flex p-3 justify-content-center">Our other ventures</h3>
</div> <!-- container -->

{% for venture in ventures %}
  <div class="container-fluid {{ loop.cycle('service-odd', 'service-even') }}">

    <h3 class="d-flex p-3 justify-content-center">{{ venture.name }}</h3>

    <div class="d-flex flex-wrap justify-content-around {{ loop.cycle('flex-row', 'flex-row-reverse') }}">
      <!-- venture description -->
      <div>
        <h5 class="p-3 service">{{ venture.description | safe }}</h5>
      </div>
      <!-- venture img -->
      <div>
        <img src="{{ url_for('static', filename='img/{}.svg'.format(venture.pic)) }}"
             class="service-img">
      </div>
    </div>

  </div> <!-- container -->
{% endfor %}


{% endblock %}
