{% extends "layout.html" %}

{% block title %}Insta-Recharge{% endblock %}

{% block content %}
<div class="container p-3">
  <h2 class="pb-3">Insta Recharge
    <div class="heading-underline"></div>
  </h2>
  <div class="row border-top">
    <div class="col-sm-4 bg-light-grey p-3">
      <img class="sidebar-img p-1"
           src="{{ url_for('static', filename='img/etc/recharge.svg') }}">
           <h5 class="text-justify">
             Recharge your active plans, for any help call <strong><a href="tel:18004194244" class="text-red">1800-419-4244</a></strong>
           </h5>
    </div> {# col #}
    <div class="col-sm-8 p-3">
      {# CUSTOMER DETAILS #}
      <div class="border-bottom py-2">
        <h3 class="py-2 text-red">Customer Details</h3>
        <div>
          {# Customer No. #}
          <h5 class="text-dark-grey">Customer ID</h5>
          <p>{{ customer_no }}</p>
          {# Customer name #}
          <h5 class="text-dark-grey">Customer Name</h5>
          <p>{{ customer_name }}</p>
        </div>
      </div> {# customer-details #}
      {# ACTIVE PLANS #}
      {% if not active_plans %}
        <h5 class="py-4 text-red">This facility is not available through Insta-Recharge.</h5>
      {% elif active_plans %}
        <div class="border-bottom py-2">
          <h3 class="py-2 text-red">Active Plans</h3>
          <form method="POST" id="payment-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="customer_no" value="{{ customer_no }}">
            <input type="hidden" name="customer_name" value="{{ customer_name }}">
            <input type="hidden" name="customer_mobile_no" value="{{ customer_mobile_no }}">
            <input type="hidden" name="plan_code" value="" id="selected-plan-code">
            {# Active Plans #}
            <div class="form-group">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% for name, (price, validity, code) in active_plans.items() %}
                  <label class="btn payment-plans shadow {% if loop.first %}active{% endif %} m-1 rounded">
                    {# plan details dump #}
                    <input type="radio"
                           name="plan" value="{{ price ~ '-' ~ code }}" id="{{ name }}"
                           autocomplete="off" onchange="fillForm(this);"
                           {% if loop.first %}checked{% endif %} />

                           <div class="plan-choice">
                             <i class="far fa-check-circle fa-2x" style="color: green;"></i>
                           </div>
                           {{ name }}</br>
                           Valid Till: {{ validity }}</br>
                           &#8377 {{ price }}
                  </label>
                {% endfor %}
              </div>
            </div> {# form-group #}
          </form>
        </div> {# active-plans #}
        {# PAYMENT #}
        <h3 class="py-2 text-red">Payment</h3>
        <p>Selected Plan: <span class="text-red" id="chosen-plan-span"><span></p>
        <p>Total Price (18% GST): <span class="text-red">&#8377 <span id="total-price-span"></span></span></p>
        {# PAYMENT GATEWAY #}
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input"
                 type="radio"
                 name="gateway"
                 id="paytm-gateway"
                 value="paytm"
                 form="payment-form" checked>
                 <label class="custom-control-label" for="paytm-gateway">
                   <img class="pay-logo float-left"
                        src="{{ url_for('static', filename='img/logo/paytm.svg') }}">
                 </label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input"
                 type="radio"
                 name="gateway"
                 id="razorpay-gateway"
                 value="razorpay"
                 form="payment-form">
                 <label class="custom-control-label" for="razorpay-gateway">
                   <img class="pay-logo float-left"
                        src="{{ url_for('static', filename='img/logo/razorpay.svg') }}">
                 </label>
        </div>
        {# TERMS AND CONDITIONS #}
        <div class="custom-control custom-checkbox pt-2">
          <input class="custom-control-input" type="checkbox" name="t&c" id="t-and-c"
                 value="paytm" form="payment-form" required>
                 <label class="custom-control-label" for="t-and-c">
                   I have read and agree to the <a href="{{ url_for('terms_and_conditions') }}">Terms and Conditions</a>
                 </label>
        </div>
        {# PAY #}
        <div class="pt-3">
          <input type="submit" class="btn btn-red btn-pay" name="pay" value="Pay"
                 form="payment-form">
        </div>
      {% endif %}
    </div> {# col #}
  </div> {# row #}
</div> {# container #}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
        fillForm('input[name=plan]:checked');
    });

    function fillForm(elem) {
        $(".plan-choice").hide();
        $(elem).siblings("div").show();
        $("#chosen-plan-span").text($(elem).attr("id"));
        var arr = $(elem).val().split("-");
        var price = arr[0];
        var code = arr[1];
        var totalPrice = (parseFloat(price) * 1.18).toFixed(2).toString();
        $("#selected-plan-code").val(code);
        $("#total-price-span").text(totalPrice);
    }
  </script>
{% endblock %}
