{% extends "self_care_layout.html" %}
{% from "_macros.html" import render_field, render_select, render_submit %}

{% block title %}Self-care docket{% endblock %}

{% block portal_content %}

<div class="col-md-8 p-3">

  <h3 class="py-2 text-red">New Docket</h3>
  {# OPEN DOCKET EXISTS #}
  {% if not allowed %}
    <h5 class="py-4 text-red">You already have an open docket. Please close that before proceeding.</h5>
  {% elif allowed %}
    <form method="POST" id="new-docket-form">
      {{ form.hidden_tag() }}
      {# NATURE #}
      <div class="form-row">
        <div class="col-md-4">
          {{ render_select(form.nature) }}
        </div>
      </div>
      {# REMARKS #}
      <div class="form-row pb-2">
        <div class="col">
          {{ render_field(form.remarks) }}
          <small class="text-muted">Max. 200 characters</small>
        </div>
      </div>
      {# SUBMIT #}
      {{ render_submit(form.submit, id="new-docket-btn", class="btn btn-red") }}
    </form>
  {% endif %}

</div> {# col #}

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
        $("#new-docket-form").submit(function(event) {
            $("#new-docket-btn").prop("disabled", true);
            $("#new-docket-btn").val("Submitting...");
    });
  </script>
{% endblock %}
