{% extends "layout.html" %}
{% from "_macros.html" import render_field, render_submit %}

{% block title %}New connection{% endblock %}

{% block content %}

<div class="container p-3">

  <h2 class="pb-3">New Connection
    <div class="heading-underline"></div>
  </h2>

  <div class="row border-top">

    <div class="col-md-4 bg-light-grey p-3">
      <img class="sidebar-img p-1"
           src="{{ url_for('static', filename='img/etc/new_connection.svg') }}">
      <h5 class="text-justify">
        To avail a new connection, please fill in the form or you can also contact us at <strong><a href="tel:18004194244" class="text-red">1800-419-4244</a></strong>
      </h5>
    </div> <!-- col -->

    <div class="col-md-8 p-3">
      <div class="content-section">

        <form method="POST">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">

            <div class="form-row">
              <!-- FIRST NAME -->
              <div class="col-md-4">
                {{ render_field(form.first_name, class="required-field") }}
              </div> <!-- col -->
              <!-- MIDDLE NAME -->
              <div class="col-md-4">
                {{ render_field(form.middle_name) }}
              </div> <!-- col -->
              <!-- LAST NAME -->
              <div class="col-md-4">
                {{ render_field(form.last_name, class="required-field") }}
              </div> <!-- col -->
            </div> <!-- form row -->

            <div class="form-row">
              <!-- ADDRESS -->
              <div class="col">
                {{ render_field(form.address, class="required-field") }}
              </div> <!-- col -->
            </div> <!-- row -->

            <div class="form-row">
              <!-- LOCATION -->
              <div class="col-md-3">
                {{ render_field(form.location, class="required-field") }}
              </div> <!-- col -->
              <!-- PIN CODE -->
              <div class="col-md-3">
                {{ render_field(form.postal_code, class="required-field" )}}
              </div> <!-- col -->
              <!-- MOBILE NO. -->
              <div class="col-md-3">
                {{ render_field(form.phone_no, class="required-field") }}
              </div> <!-- col -->
              <!-- E-MAIL ADDRESS -->
              <div class="col-md-3">
                {{ render_field(form.email_address, class="required-field") }}
              </div> <!-- col -->
            </div> <!-- form-row -->

          </fieldset>

          <!-- REQUIRED FIELDS INFORMATION -->
          <p><span style="color:red;">*</span> indicates a required field</p>

          <!-- SUBMIT -->
          {{ render_submit(form.submit) }}

        </form>
      </div> <!-- content-section -->
    </div> <!-- col -->

  </div> <!-- row -->

</div> <!-- container -->

{% endblock %}
