{% extends "layout.html" %}

{% block title %}Payment{% endblock %}

{% block content %}

<div class="container p-3">

  <h2 class="pb-3">Insta Recharge
    <div class="heading-underline"></div>
  </h2>

  <div class="row border-top">

    <div class="col-sm-4 bg-light-grey p-3">
      <img class="sidebar-img p-1"
           src="{{ url_for('static', filename='img/etc/recharge.svg') }}">
      <h5 class="text-justify">
        Recharge your active plans, for any help call <strong><a href="tel:18004194244" class="text-red">1800-419-4244</a></strong>
      </h5>
    </div> <!-- col -->

    <div class="col-sm-8 p-3">

      <!-- CUSTOMER DETAILS -->
      <div class="border-bottom py-2">
        <h3 class="py-2 text-red">Customer Details</h3>

        <div>
          <!-- Customer No. -->
          <h5 class="text-dark-grey">Customer No.</h5>
          <p>{{ cust_data.cust_no }}</p>
          <!-- Customer name -->
          <h5 class="text-dark-grey">Customer Name</h5>
          <p>{{ cust_data.name }}</p>
        </div>
      </div> <!-- customer-details -->

      <!-- ACTIVE PLANS -->
      <!-- conditional viewing of content here -->
      {% if not active_plans %}
      <h5 class="py-4 text-red">This facility is not available through Insta-Recharge.</h5>
      {% elif active_plans %}
      <div class="border-bottom py-2">
        <h3 class="py-2 text-red">Active Plans</h3>

        <form method="POST" id="payment-form">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

              <!-- Transaction amount -->
              <input type="hidden" name="amount" value="" id="total-price-input">

              <!-- Active Plans -->
                <div class="form-group">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    {% for name, (price, validity) in active_plans.items() %}
                      <label class="btn payment-plans shadow {% if loop.first %}active{% endif %} m-1 rounded">
                        <input type="radio"
                               name="plan" value="{{ price }}"
                               autocomplete="off" onchange="fillForm(this);"
                               {% if loop.first %}checked{% endif %} />

                               <div class="plan-choice">
                                 <i class="far fa-check-circle fa-2x" style="color: green;"></i>
                               </div>
                               {{ name }}</br>
                               Valid Till: {{ validity }}</br>
                               &#8377 {{ price }}
                      </label>
                    {% endfor %}
                  </div>
                </div> <!-- form-group -->
        </form>
      </div> <!-- active-plans -->

      <!-- PAYMENT -->
      <h3 class="py-2 text-red">Payment</h3>

      <p>Total Price (including 18% GST): &#8377 <span id="total-price-span"></span></p>

      <!-- PAYMENT GATEWAY -->
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gateway" id="paytm-gatway"
               value="paytm" form="payment-form" checked>
        <label class="form-check-label pt-1" for="paytm-gateway">
          Paytm
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gateway" id="razorpay-gateway"
               value="razorpay" form="payment-form">
        <label class="form-check-label pt-1" for="razorpay-gateway">
          Razorpay
        </label>
      </div>
      <!-- PAY -->
      <div class="pt-3">
        <input type="submit" class="btn btn-red" name="pay" value="Pay"
               form="payment-form">
      </div>
      {% endif %}
    </div> <!-- col -->

  </div> <!-- row -->

</div> <!-- container -->

{% endblock %}

{% block scripts %}

{{ super() }}

<script>

  $(document).ready(function() {
      fillForm('input[name=plan]:checked');
  });

  function fillForm(elem) {
      // change label view
      $(".plan-choice").hide();
      $(elem).siblings("div").show();
      // add GST
      var totalPrice = (parseFloat($(elem).val()) * 1.18).toFixed(2).toString();
      $("#total-price-span").text(totalPrice);
      $("#total-price-input").val(totalPrice);
  }

</script>

{% endblock %}
