<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Paytm Payment Check Out Page</title>
  </head>
  <body>
    <center>
      <h1>Please do not refresh this page...</h1>
    </center>
    <form method="POST" action="https://securegw.paytm.in/order/process" name="paytm">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <!-- Paytm form details -->
      {% for name, value in paytm_form.items() %}
        <input type="hidden" name="{{ name }}" value="{{ value }}">
      {% endfor %}
    </form>
    <script type="text/javascript">
      document.paytm.submit();
    </script>
    </body>
    </html>
