{% extends "layout.html" %}
{% from "_macros.html" import render_field, render_submit %}

{% block title %}Self-care login{% endblock %}

{% block content %}

<div class="container p-3">

  <h2 class="pb-3">Self-Care
    <div class="heading-underline"></div>
  </h2>

  <div class="row border-top">

    <div class="col-sm-4 bg-light-grey p-3">

      <!-- OPTIONS -->
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="{{ url_for('get_cust_no') }}">Recharge</a>
        <a class="list-group-item list-group-item-action" href="{{ url_for('register') }}">Docket</a>
        <a class="list-group-item list-group-item-action" href="#">Plan Change</a>
      </div> <!-- list-group -->

    </div> <!-- col -->

    <div class="col-sm-4 p-3">
      <h3 class="py-2 text-red">Portal</h3>

    </div> <!-- col -->

    <div class="col-sm-4 bg-light-grey pt-4">

      <!-- CUSTOMER INFO -->


    </div> <!-- col -->

  </div> <!-- row -->

</div> <!-- container -->

{% endblock %}
