{% extends "layout.html" %}

{% block title %}Payment receipt{% endblock %}

{% block content %}

<div class="container p-3">
  <!-- HEADING -->
  <h2 class="py-3">Transaction Status
    <div class="heading-underline"></div>
  </h2>

  <div class="row border-top">
    <div class="col-sm-4 bg-light-grey p-3">
      <img class="sidebar-img p-1"
           src="{{ url_for('static', filename='img/etc/transaction-' ~ txn_status ~ '.svg') }}">
      <h5 class="text-justify">
        Your transaction is {{ txn_status }}.
      </h5>
    </div> <!-- col -->

    <div class="col-sm-8 p-3">
      <h3 class="py-2 text-red">Transaction Details</h3>

      <!-- TRANSACTION DETAILS -->
      <table class="table table-borderless">
        <tbody>
          <!-- Customer no. -->
          <tr>
            <th scope="row">Customer ID</th>
            <td>: {{ customer_no }}</td>
          </tr>
          <!-- Customer name -->
          <tr>
            <th scope="row">Customer Name</th>
            <td>: {{ customer_name }}</td>
          </tr>
          <!-- Amount -->
          <tr>
            <th scope="row">Amount</th>
            <td>: &#8377 {{ amount }}</td>
          </tr>
          <!-- Date and Time -->
          <tr>
            <th scope="row">Date & Time</th>
            <td>: {{ date_and_time }}</td>
          </tr>
          <!-- Transaction status -->
          <tr>
            <th scope="row">Transaction</th>
            <td>: {{ txn_status.capitalize() }}</td>
          </tr>
          <!-- Transaction no. -->
          <tr>
            <th scope="row">Transaction No.</th>
            <td>: {{ txn_no }}</td>
          </tr>
        </tbody>
      </table>

      <!-- PRINT -->
      <!-- <div class="text-center"> -->
      <!--   <i class="fas fa-print fa-lg"></i> -->
      <!-- </div> -->
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->

{% endblock %}
