{% extends "layout.html" %}

{% block title %}Support{% endblock %}

{% block content %}

<div class="container p-3">

  <h2 class="py-3">Support
    <div class="heading-underline"></div>
  </h2>

  <div class="row border-top">

    <div class="col-sm-4 bg-light-grey p-3">
      <img class="sidebar-img p-1" src="{{ url_for('static', filename='img/etc/faq.svg') }}">
      <h5 class="text-justify">
        Here are some of the frequently asked questions. For further queries, please feel free to contact us at <strong><a href="tel:18004194244" class="text-red">1800-419-4244</a></strong> or e-mail us at <a href="mailto:info@wishnet.co.in" class="text-red">info@wishnet.co.in</a>
      </h5>
    </div> <!-- col -->

    <div class="col-sm-8 p-3">

      <h3 class="py-2 text-red">FAQs</h3>

      <div id="accordion">
      {% for category in categories %}
      <div class="card">

        <div class="card-header bg-light-grey" id="header-{{ category.replace(' ', '') }}">
          <div class="d-flex align-items-center">
            <div class="mr-auto">{{ category }}</div>

              <button class="btn btn-link"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse-{{ category.replace(' ', '') }}"
                      aria-expanded="false"
                      aria-controls="collapse-{{ category.replace(' ', '') }}">
                <i class="fas"></i>
              </button>
            </div>
          </div> <!-- card-header -->

          <div id="collapse-{{ category.replace(' ', '') }}"
               class="collapse"
               aria-labelledby="header-{{ category.replace(' ', '') }}"
               data-parent="#accordion">
            <div class="card-body">
              <!-- Q&A -->
              <div id="accordion-{{ category.replace(' ', '') }}">
                {% for item in items if item.category == category %}
                <div class="card">

                  <div class="card-header bg-light-grey" id="header-{{ item.id }}">
                    <div class="d-flex align-items-center">
                      <div class="mr-auto">{{ item.question }}</div>

                      <button class="btn btn-link"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapse-{{ item.id }}"
                              aria-expanded="false"
                              aria-controls="collapse-{{ item.id }}">
                        <i class="fas"></i>
                      </button>
                    </div>
                  </div> <!-- card-header -->

                  <div id="collapse-{{ item.id }}"
                       class="collapse"
                       aria-labelledby="header-{{ item.id }}"
                       data-parent="#accordion-{{ category.replace(' ', '') }}">
                    <div class="card-body">
                      {{ item.answer |safe }}
                    </div>
                  </div> <!-- collapse -->

                </div> <!-- card -->
                {% endfor %}

              </div> <!-- accordion -->
            </div> <!-- card-body -->
          </div> <!-- collapse -->

        </div> <!-- card -->
      {% endfor %}
      </div> <!-- accordion -->

    </div> <!-- col -->

  </div> <!-- row -->

</div> <!-- container -->

{% endblock %}
