{% extends "layout.html" %}

{% block title %}Plans{% endblock %}

{% block content %}

<div class="container p-3">

  <h2 class="pb-3">Broadband Plans
    <div class="heading-underline"></div>
  </h2>

  <div class="row">

    {# PLAN TABS #}
    <div class="col-auto p-3 mr-auto btn-group btn-group-toggle" data-toggle="buttons">
      {% for plan in plans %}
      <label class="btn btn-red {% if loop.first %}active{% endif %} m-1 rounded plan-labels shadow">
        <input type="radio"
               name="options" value="{{ plan.__name__ }}"
               autocomplete="off" onchange="displayCards(this);"
               {% if loop.first %}checked{% endif %}/>
        {{ plan.__name__.split('Plan')[0] }}
      </label>
      {% endfor %}
    </div>

  </div> {# row #}
</div> {# container #}

<div class="container p-3">

  {# PLAN CARDS #}
  {% for plan in plans %}
  <div class="masonry justify-content-center">

    {% for entry in plan.query.all() %}
    <div class="masonry-brick shadow mt-3 mr-3 {{ plan.__name__ }}-cards">
      {# Plan name #}
      <h3 class="card-title heading pt-3">{{ entry.plan_name }}
        <div class="heading-underline-100"></div>
      </h3>
      {# Package speed #}
      <h5 class="px-3 py-1 pt-3 heading">
        <i class="fas fa-exchange-alt text-red"></i> {{ entry.bandwidth }} Mbps speed
      </h5>
      {# Package validity #}
      <h5 class="px-3 py-1 heading">
        <i class="fas fa-calendar text-red"></i> {{ entry.validity }} days validity
      </h5>
      {# Package data limit / Softphones #}
      {% if entry.data_limit is defined %}
      <h5 class="px-3 py-1 heading">
        <i class="fab fa-cloudscale text-red"></i> {{ entry.data_limit }} GB limit
      </h5>
      {% else %}
      <h5 class="px-3 py-1 heading">
        <i class="fas fa-phone-alt text-red"></i> {{ entry.softphones }} softphones
      </h5>
      <h5 class="px-3 py-1 heading">
        <i class="fas fa-film text-red"></i> {{ entry.ott }} OTT voucher(s)
      </h5>
      {% endif %}
      {# Package static IP #}
      {% if entry.static_ip is defined %}
      <h5 class="px-3 py-1 heading">{{ entry.static_ip }} static IP</h5>
      {% endif %}
      {# Package price #}
      <h5 class="px-3 py-1 heading">
        <span class="text-red">&#8377</span> {{ entry.price }} / month
      </h5>
      {# Package speed after limit #}
      {% if plan.speed_after_limit %}
      <h5 class="px-3 py-1 heading">
        <i class="fas fa-exchange-alt text-red"></i> {{ entry.speed_after_limit }} Mbps after limit</h5>
      {% endif %}
      {# Package contention ratio #}
      <h5 class="px-3 py-1 heading">{{ entry.contention_ratio }} contention ratio</h5>
      {# Plan type #}
      <h4 class="heading px-3 py-3 text-red">{{ entry.plan_type }} Plan</h4>
    </div> {# card #}
    {% endfor %}

    <div class="masonry-brick bg-light-grey shadow mt-3 mr-3 {{ plan.__name__ }}-cards">
      <h3 class="card-title heading pt-3">T&Cs
        <div class="heading-underline-100"></div>
      </h3>
      <p class="text-justify px-3 py-1">Installation, activation and network maintenance (if any) are not included in the tariff.</p>
      <p class="text-justify px-3 py-1">Availability of the plans for a specific region is subject to capacity of the netwrok.</p>
      <p class="text-justify px-3 py-1">GST and other taxes (if any) are not included in the tariff.</p>
    </div>

  </div> {# masonry #}
  {% endfor %}

</div> {# container #}
{% endblock %}

{% block scripts %}

  {{ super() }}

  <script>

    $(document).ready(function() {
        displayCards('input[name=options]:checked');
    });

    function displayCards(elem) {
        $(".masonry-brick").hide();
        $("." + $(elem).val() + "-cards").show();
    }

  </script>

{% endblock %}
