{% extends "layout.html" %}

{% block title %}Plans{% endblock %}

{% block content %}

<div class="container p-3">

  <!-- PLAN TABS -->
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    {% for plan in plans %}
      <label class="btn btn-secondary {% if loop.first %}active{% endif %} m-1 rounded">
        <input type="radio"
               name="options" value="{{ plan.__name__ }}"
               autocomplete="off" onchange="displayCards(this);"
               {% if loop.first %}checked{% endif %}/>
        {{ plan.__name__.split('Plan')[0] }}
      </label>
    {% endfor %}
  </div>

</div> <!-- container -->

<div class="container p-3">

  <!-- PLAN CARDS -->
  {% for plan in plans %}
  <div class="card-columns cards" id="{{ plan.__name__ }}-cards">

    {% for entry in plan.query.all() %}
    <div class="card shadow">
      <!-- Color bar at top -->
      <div class="d-flex w-100" id="plan-color-bar"></div>
      <!-- Plan name -->
      <div class="d-flex pt-3 pb-1 w-100 justify-content-center" id="plan-name">
        <h3>{{ entry.plan_name }}</h3>
      </div>
      <!-- Package speed -->
      <div class="d-flex p-1 justify-content-center">
        <h5>{{ entry.bandwidth }} Mbps speed</h5>
      </div>
      <!-- Package price -->
      <div class="d-flex p-1 justify-content-center">
        <h5>&#8377 {{ entry.price }} / month</h5>
      </div>
      <!-- Package validity -->
      <div class="d-flex p-1 justify-content-center">
        <h5>{{ entry.validity }} days validity</h5>
      </div>
      <!-- Package data limit -->
      {% if plan.data_limit is defined %}
      <div class="d-flex p-1 justify-content-center">
        <h5>{{ entry.data_limit }} GB limit</h5>
      </div>
      {% endif %}
      <!-- Package speed after limit -->
      {% if plan.speed_after_limit %}
      <div class="d-flex p-1 justify-content-center">
        <h5>{{ entry.speed_after_limit }} Mbps after limit</h5>
      </div>
      {% endif %}
    </div> <!-- card -->
    {% endfor %}

  </div> <!-- card-columns -->
  {% endfor %}

</div> <!-- container -->

{% endblock %}

{% block scripts %}

  {{ super() }}

  <script>

    $(document).ready(function() {
        $(".card-columns").eq(0).show();
    });

    function displayCards(elem) {
        $("#" + $(elem).val() + "-cards").show().siblings().hide();
    }
  </script>

{% endblock %}
