{% extends "layout.html" %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}

<div class="container text-justify p-3">
  <!-- HEADING -->
  <h2 class="py-3">Terms and Conditions
    <div class="heading-underline"></div>
  </h2>

  <!-- CONTENT -->
  <ol>
    <li>Payment made online should be in addition to normal bank charges or such applicable.</li>
    <li>Payment by you to Wish Net Private Limited may be done through an electronic system and remittance service. Wish Net Private Limited makes no expression or implied representation for your option of online payment. By logging in the system, you agree that your use of online payment is entirely at your own risk.</li>
    <li>Wish Net Private Limited has made this service available as a matter of convenience only and no other benefit. Wish Net Private Limited reserves the right of terminating your right to use the service immediately. You shall indemnify and hold harmless Wish Net Private Limited and their officials, directors, agents from any claim or demand since no way we are liable for any direct, indirect, consequential, incidental damage loss of profit ,goodwill for use of online payment system.</li>
    <li>You agree, understand and confirm that personal data relating to bank account transmitted over internet is susceptible to misuse, theft/fraud and Wish Net Private Limited has not control over such matter.</li>
  <li>Wish Net Private Limited has the right to reserve any payment effected by a consumer through bank account in situation where the company is not in a position to retain such payment. Consumers are advised to ensure the bonafide of bank account being used for the settlement of dues to the company to avoid future complication.</li>
    <li>Bank account or credit/debit card details provided by you for use of online payment will be correct and accurate you shall not use bank account which is not lawfully owned by you.</li>
  </ol>

	<h3 class="py-3 text-left">Cancellation</h3>
	<p>Once payment made, cancellation or refund is not allowed directly. You have to apply to Wish Net Private Limited by stating reason with transaction reference, date and amount. Refund/appropriation may be done at the sole discretion of Wish Net Private Limited after deducting bank charges (if any) and after proper verification in reasonable time which is required whatsoever.</p>

	<h3 class="py-3 text-left">Privacy</h3>
	<p>Wish Net Private Limited respects and protects the privacy of individuals who access and does not willfully disclose to any third-party without receiving your permission, except if it is required to comply any valid legal process or government requirement.</p>

</div> <!-- container -->

{% endblock %}
