{% extends "self_care_layout.html" %}

{% block title %}Self-care transaction history{% endblock %}

{% block portal_content %}

<div class="col-md-8 p-3">

  <h3 class="py-2 text-red">Online Transaction History</h3>

  <!-- ONLINE TRANSACTION HISTORY -->
  {% if not transactions %}
  <h5 class="py-4 text-red">You don't have any online transactions.</h5>
  {% elif transactions %}
  <table class="table table-striped table-bordered table-responsive text-nowrap">
    <thead>
      <tr>
        <th scope="col">Transaction no.</th>
        <th scope="col">Date</th>
        <th scope="col">Gateway</th>
        <th scope="col">Gateway transaction no.</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr scope="row">
        <td>{{ transaction.wishnet_payment_order_id }}</td>
        <td>{{ transaction.payment_datetime }}</td>
        <td>{{ transaction.payment_gateway }}</td>
        <td>{{ transaction.payment_gateway_order_id }}</td>
        <td>{{ transaction.payment_amount }}</td>
        <td>{{ transaction.payment_status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div> <!-- col -->

{% endblock %}
