{% extends "self_care_layout.html" %}
{% from "_macros.html" import render_field, render_submit %}

{% block title %}Self-care update GST{% endblock %}

{% block portal_content %}

<div class="col-md-8 p-3">

  <h3 class="py-2 text-red">Update GST Information</h3>

  <div class="content-section">

    <form method="POST" id="update-gst-form">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">

        <!-- GST NUMBER -->
        <div class="form-row">
          {{ render_field(form.gst_no) }}
        </div>

      </fieldset> <!-- fieldset -->

      <!-- SUBMIT -->
      {{ render_submit(form.submit, id="update-gst-btn") }}

    </form>

  </div> <!-- content-section -->

</div> <!-- col -->

{% endblock %}

{% block scripts %}

  {{ super() }}

  <script>

    $(document).ready(function() {

        // loading stage for updating profile request
        $("#update-gst-form").submit(function(event) {
                $("#update-gst-btn").val("Submitting Request...");
        });

    })

  </script>

{% endblock %}
